<div class="page-content fade-in-up">
  <div class="ibox">
    <div class="ibox-body">
      <h5 class="font-strong mb-4">LES FOURNISSEURS</h5>
      <div class="flexbox mb-4">
        <div class="flexbox">
        </div>
        <div class="flexbox">
          <div class="input-group-icon input-group-icon-left mr-3">
            <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
            <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text"
              placeholder="Search ...">
          </div>
          <a class="btn btn-rounded btn-primary btn-air" [routerLink]="['/supplier', 'new']"
            routerLinkActive="router-link-active">Ajouter un fournisseur</a>
        </div>
      </div>
      <div class="table-responsive row">
        <table class="table table-bordered table-hover" id="supplier-table">
          <thead class="thead-default thead-lg">
            <tr>
              <th>ID</th>
              <th>Nom de société</th>
              <th>Reference</th>
              <th>Email</th>
              <th>Téléphone</th>
              <th>NIF</th>
              <th>STAT</th>
              <th>Actions</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
