
<ul class="side-menu metismenu scroller">
  <li routerLinkActive="active">
    <a routerLinkActive="active" routerLink="/dashboard">
      <i class="sidebar-item-icon ti-view-grid"></i>
      <span class="nav-label">Tableau de board</span>
    </a>
  </li>

  <li routerLinkActive="active">
    <a [routerLink]="['/supplier', 'review']" routerLinkActive="active">
      <i class="sidebar-item-icon ti-reload"></i>
      Fournisseurs en attente
    </a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/carousel']" routerLinkActive="active">
      <i class="sidebar-item-icon ti-layout-media-center"></i>
      Slider
    </a>
  </li>
  <li routerLinkActive="active">
    <a href="href=&quot;javascript:;&quot;">
      <i class="sidebar-item-icon ti-layout-tab-window"></i>
      <span class="nav-label">Fournisseurs</span>
      <i class="fa fa-angle-left arrow"></i>
    </a>
    <ul class="nav-2-level collapse" routerLinkActive="in">
      <li><a routerLink="/supplier/lists" routerLinkActive="active">Tous les fournisseurs</a></li>
      <li><a routerLink="/supplier/new" routerLinkActive="active">Ajouter</a></li>
    </ul>
  </li>
  <li routerLinkActive="active">
    <a href="href=&quot;javascript:;&quot;">
      <i class="sidebar-item-icon ti-layers-alt"></i>
      <span class="nav-label">Articles</span>
      <i class="fa fa-angle-left arrow"></i>
    </a>
    <ul class="nav-2-level collapse" routerLinkActive="in">
      <li><a routerLink="/articles" routerLinkActive="active">Tous les articles</a></li>
      <li><a routerLink="/product" routerLinkActive="active">Gestions des produits</a></li>
      <li><a routerLink="/supplier/article/review" routerLinkActive="active">Attente de MAJ</a></li>
    </ul>
  </li>
  <li routerLinkActive="active" style="display: none;">
    <a href="href=&quot;javascript:;&quot;">
      <i class="sidebar-item-icon ti-layers-alt"></i>
      <span class="nav-label">Produits</span>
      <i class="fa fa-angle-left arrow"></i>
    </a>
    <ul class="nav-2-level collapse" routerLinkActive="in">
      <li><a routerLink="/product/lists" routerLinkActive="active">Tous les produits</a>
      </li>
      <li><a routerLink="/product/new" routerLinkActive="active">Ajouter</a>
      </li>
    </ul>
  </li>
  <li routerLinkActive="active">
    <a href="href=&quot;javascript:;&quot;">
      <i class="sidebar-item-icon ti-layout-media-overlay-alt-2"></i>
      <span class="nav-label">S.A.V</span>
      <i class="fa fa-angle-left arrow"></i>
    </a>
    <ul class="nav-2-level collapse" routerLinkActive="in">
      <li><a routerLink="/sav" routerLinkActive="active">Demande de service</a>
      </li>
    </ul>
  </li>
  <li routerLinkActive="active">
    <a href="href=&quot;javascript:;&quot;">
      <i class="sidebar-item-icon ti-user"></i>
      <span class="nav-label">Clients</span>
      <i class="fa fa-angle-left arrow"></i>
    </a>
    <ul class="nav-2-level collapse" routerLinkActive="in">
      <li>
        <a routerLink="/client/lists" routerLinkActive="active">Tous les clients</a>
      </li>
    </ul>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/prestations']" routerLinkActive="active" >
      <i class="sidebar-item-icon ti-layout-tab-v"></i>
      <span class="nav-label">Prestations</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/faq']" routerLinkActive="active" >
      <i class="sidebar-item-icon ti-help-alt"></i>
      <span class="nav-label">Techniques de vente</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/faq-client']" routerLinkActive="active" >
      <i class="sidebar-item-icon ti-help-alt"></i>
      <span class="nav-label">FAQ Client</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLinkActive="active" routerLink="/settings">
      <i class="sidebar-item-icon ti-settings"></i>
      <span class="nav-label">Paramètres</span>
    </a>
  </li>
</ul>
