
<ul class="side-menu metismenu scroller">
  <li routerLinkActive="active">
    <a href="href=&quot;javascript:;&quot;">
      <i class="sidebar-item-icon ti-view-grid"></i>
      <span class="nav-label">Tableau de board</span>
      <i class="fa fa-angle-left arrow"></i>
    </a>
    <ul class="nav-2-level collapse" routerLinkActive="in">
      <li><a routerLinkActive="active" routerLink="/dashboard">Les demandes</a></li>
    </ul>
  </li>
  <li routerLinkActive="active">
    <a href="href=&quot;javascript:;&quot;">
      <i class="sidebar-item-icon ti-layout-tab-window"></i>
      <span class="nav-label">Fournisseurs</span>
      <i class="fa fa-angle-left arrow"></i>
    </a>
    <ul class="nav-2-level collapse" routerLinkActive="in">
      <li><a routerLink="/supplier/lists" routerLinkActive="active">Tous les fournisseurs</a></li>
      <li><a [routerLink]="['/supplier', 'review']" routerLinkActive="active">En attente</a></li>
      <li><a routerLink="/supplier/new" routerLinkActive="active">Ajouter</a></li>
      <li class="heading" style="padding-left: 22%">ARTICLES</li>
      <li><a routerLink="/supplier/articles" routerLinkActive="active">Tous les articles</a></li>
      <li><a routerLink="/supplier/article/review" routerLinkActive="active">En attente</a></li>
    </ul>
  </li>
  <li routerLinkActive="active" style="display: none;">
    <a href="href=&quot;javascript:;&quot;">
      <i class="sidebar-item-icon ti-layers-alt"></i>
      <span class="nav-label">Produits</span>
      <i class="fa fa-angle-left arrow"></i>
    </a>
    <ul class="nav-2-level collapse" routerLinkActive="in">
      <li><a routerLink="/product/lists" routerLinkActive="active">Tous les produits</a>
      </li>
      <li><a routerLink="/product/new" routerLinkActive="active">Ajouter</a>
      </li>
    </ul>
  </li>
  <li routerLinkActive="active">
    <a href="href=&quot;javascript:;&quot;">
      <i class="sidebar-item-icon ti-layout-media-overlay-alt-2"></i>
      <span class="nav-label">Services</span>
      <i class="fa fa-angle-left arrow"></i>
    </a>
    <ul class="nav-2-level collapse" routerLinkActive="in">
      <li><a routerLink="/sav" routerLinkActive="active">Demande de service</a>
      </li>
    </ul>
  </li>
</ul>
