<!-- START TOP-LEFT TOOLBAR-->
<ul class="nav navbar-toolbar">
  <li><a class="nav-link sidebar-toggler js-sidebar-toggler" href="javascript:;"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a></li>
</ul>
<!-- END TOP-LEFT TOOLBAR-->
<!-- START TOP-RIGHT TOOLBAR-->
<ul class="nav navbar-toolbar">
  <li class="dropdown dropdown-user">
      <a class="d-flex nav-link link" (click)="logout()" >Déconnexion<i class="ti-shift-right ml-2 font-20"></i></a>
  </li>
</ul>
<!-- END TOP-RIGHT TOOLBAR-->
