<style type="text/css">
  .form-control {
    font-family: inherit;
  }
</style>
<div class="page-content fade-in-up">

    <div class="modal fade" id="edit-article-supplier-modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <app-edit-article [article]="editArticle" (refresh)="reload()"></app-edit-article>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-lg-10">
      <div class="ibox ibox-fullheight">
        <div class="ibox-head">
          <div class="flexbox-b mb-5 mt-5">
            <span class="mr-4 static-badge badge-pink"><i class="la la-folder font-36"></i></span>
            <div>
              <h5 class="font-strong">Articles</h5>
              <div class="text-light">Les articles en attente</div>
            </div>
          </div>
        </div>
        <!-- Affiche les produits dans le devis -->
        <div class="ibox-body">
          <div class="">
            <table class="table table-hover" id="articles-review-table">
              <thead class="thead-default thead-lg">
                <tr>
                  <th class="pl-4">Nom</th>
                  <th>Nbr</th>
                  <th>Date de revision</th>
                  <th>Fournisseurs</th>
                  <th class="pr-4">Action</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
    </div>
  </div>
</div>
