<div class="ibox">
  <div class="ibox-head">
      <div class="ibox-title">NOUVEAUX CLIENTS</div>
      <div class="ibox-tools">
          <a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-user"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item"><i class="ti-pencil mr-2"></i>Create</a>
              <a class="dropdown-item"><i class="ti-pencil-alt mr-2"></i>Edit</a>
              <a class="dropdown-item"><i class="ti-close mr-2"></i>Remove</a>
          </div>
      </div>
  </div>
  <div class="ibox-body">
      <ul class="media-list media-list-divider mr-2 scroller" data-height="550px">

          <li class="media align-items-center" *ngFor="let user of users">
              <a class="media-img" href="javascript:;">
                  <img class="img-circle" [src]="user.avatar_urls['96']" alt="image" width="54" />
              </a>
              <div class="media-body d-flex align-items-center">
                  <div class="flex-1">
                      <div class="media-heading">{{user.last_name}} {{user.first_name}}</div><small class="text-muted">{{user.email}}</small></div>
                  <button class="btn btn-sm btn-outline-secondary btn-rounded">Voir</button>
              </div>
          </li>
          
      </ul>
  </div>
</div>