<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-lg-12">
      <app-filter-search-article (findword)="onSearchWord($event)"></app-filter-search-article>
      <app-filter-article [word]="findWord" (search)="onSubmit($event)"></app-filter-article>
      <div class="mb-3">
        <span>
          <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#add-article-supplier-modal">Ajouter un article</button>
          <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#import-article-modal">+ Importer des articles (Non recommandé)</button>
        </span>
      </div>
      <div class="ibox">
        <div class="ibox-body" *ngIf="Products">
          <div class="mb-4">
            <h3 class="mt-1">{{Paging._total ? Paging._total : '0'}} article(s) trouvé
              <span *ngIf="findWord"> pour: <span class="text-primary">“{{findWord}}”</span></span>
            </h3>
          </div>
          <div class="table-responsive" *ngIf="Products.length > 0">
            <table class="table">
              <thead style="background-color: lavender;">
              <tr>
                <th>Designation</th>
                <th>Statut</th>
                <th>Prix Fmg</th>
                <th>Prix AR</th>
                <th>%UF</th>
                <th>Prix UF</th>
                <th>%R</th>
                <th>Prix R</th>
                <th>F.</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let article of Products">
                <td width="325"><a class="link-blue" (click)="onEditArticle(article.id)">{{article.title.rendered}}</a>
                </td>
                <td><span class="badge"
                          [ngClass]="{'badge-blue': article.product_status === 'publish', 'badge-pink': article.product_status === 'pending'}"
                          (click)="onChangeStatus(article)" style="cursor: pointer">
                  {{article.product_status === 'publish' ? 'PUBLIER' : 'DESACTIVER'}}</span>
                </td>
                <td>{{article.price * 5 | currency:'MGA':'symbole':'4.2-2':'fr'}}</td>
                <td>{{article.price | currency:'MGA':'symbole':'4.2-2':'fr'}}</td>
                <td>{{article.marge}} %</td>
                <td>{{article.priceUF | currency:'MGA':'symbole':'4.2-2':'fr'}}</td>
                <td>{{article.marge_dealer}} %</td>
                <td>{{article.price_dealer | currency:'MGA':'symbole':'4.2-2':'fr'}}</td>
                <td><a target="_blank" [routerLink]="['/supplier', article.supplier.ID, 'edit']"
                       routerLinkActive="active" class="badge badge-success">
                  {{article.supplier.reference}}
                </a></td>
                <td>
                  <a (click)="onEditArticle(article.id)" class="badge badge-pink text-white">Modifier</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <div class="inner-left preview" id="demo">
        <div class="paginationjs">
        </div>
      </div>

      <div class="modal fade" id="add-article-supplier-modal" data-backdrop="static">
        <div class="modal-dialog" role="document">
          <app-add-article (refresh)="onRefreshResults()"></app-add-article>
        </div>
      </div>

      <div class="modal fade" id="edit-article-supplier-modal" data-backdrop="static">
        <div class="modal-dialog" role="document">
          <app-edit-article [Article]="Editor" (refresh)="onRefreshResults()"></app-edit-article>
        </div>
      </div>

      <div class="modal fade" id="import-article-modal" data-backdrop="static">
        <div class="modal-dialog" role="document">
          <app-import-article (refresh)="onRefreshResults()"></app-import-article>
        </div>
      </div>

      <div class="modal fade" id="status-product-modal" data-backdrop="static">
        <div class="modal-dialog" role="document">
          <app-status-article [article]="articleEdit" (refresh)="onRefreshResults()"></app-status-article>
        </div>
      </div>

    </div>
  </div>
</div>
