<div class="page-content fade-in-up">
  <div class="ibox">
    <div class="ibox-body">
      <h5 class="font-strong mb-4">LES CLIENTS</h5>
      <div class="flexbox mb-4">
        <div class="flexbox">
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group mb-4">
                    <label class="font-light">Filtre responsable</label>
                    <ng-select name="responsible" (change)="reload()" placeholder="Veuillez selectionner" [(ngModel)]="responsible"
                      bindLabel="email" bindValue="id" [hideSelected]="false" [loading]="responsibleLoading" [multiple]="false" [items]="Responsibles"
                      required>
                      <ng-template ng-option-tmp let-item="item">
                        {{item.email}}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
        </div>
        <div class="flexbox">
          <div class="input-group-icon input-group-icon-left mr-3">
            <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
            <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text"
                   placeholder="Search ...">
          </div>
        </div>
      </div>
      <div class="table-responsive row">
        <table class="table table-bordered table-hover" id="clients-table">
          <thead class="thead-default thead-lg">
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Adresse E-mail</th>
            <th>Type</th>
            <th>Date d'ajout</th>
            <th>Actions</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="switch-type-modal" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <app-type-client-switcher (refresh)="reload()"></app-type-client-switcher>
  </div>
</div>
