<div class="ibox-body">
  <div class="row">
    <div class="col-sm-4">
      <form [formGroup]="formDate">
        <input type="date" formControlName="date_review" (change)="onChangeDate($event)" class="form-control" />
      </form>
    </div>
  </div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th>Etat</th>
        <th>Date de création</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.id}}</td>
        <td [innerHTML]="order.posValue"></td>
        <td>{{order.dateCreate}}</td>
        <td>
          <a class="btn btn-sm btn-primary" [routerLink]="['/dashboard', 'quotation', order.id, 'edit']" routerLinkActive="router-link-active" >Voir</a>
        </td>
      </tr>
      <tr *ngIf="loading">
        <td>Chargement...</td>
      </tr>
      <tr *ngIf="loading && orders.length <= 0">
        <td>Chargement...</td>
      </tr>
    </tbody>
  </table>
</div>