<div class="ibox-head">
  <div class="flexbox-b mb-5 mt-5">
    <span class="mr-4 static-badge badge-pink"><i class="la la-shopping-cart font-36"></i></span>
    <div>
      <h5 class="font-strong">Demande #{{ID}}</h5>
      <div class="text-light" *ngIf="Author">Par {{Author.nickname}}, {{ORDER.date_created}}</div>
    </div>
  </div>
</div>
<!-- Affiche les produits dans la demande -->
<div class="ibox-body">
  <div class="">
    <table class="table table-hover" id="quotation-edit-table">
      <thead class="thead-default thead-lg">
        <tr>
          <th class="pl-4">DESIGNATION</th>
          <th>QTÉ VOULU</th>
          <th>QTÉ DISP</th>
          <th>ÉTAT</th>
          <th>FOURNISSEUR</th>
          <th class="pr-4" style="width:91px;"></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<div class="ibox-footer">
  <div>
    <div class="btn-group mb-3">
      <button class="btn btn-pink mr-3" data-toggle="modal" data-target="#quotation-view-modal">Voir le devis</button>
      <a class="btn btn-blue mr-3" [routerLink]="['/dashboard', 'quotation', ID, 'recap']" routerLinkActive="active" >Récapitulatif</a>
      <a class="btn btn-secondary" [routerLink]="['/dashboard']" routerLinkActive="active" >Retour</a>
    </div>
  </div>
</div>



<!-- Affiche le devis en complet -->
<div class="modal fade" id="quotation-view-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <app-quotation-view [order]="ORDER"></app-quotation-view>
    </div>
  </div>
</div>

<!-- Afficher une boite de dialogue pour le mail -->
<div class="modal fade" id="quotation-mail-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <app-quotation-mail [order]="ORDER"></app-quotation-mail>
    </div>
  </div>
</div>

