<form class="modal-content" [formGroup]="Form" (ngSubmit)="onSubmit()">
  <div class="modal-header px-4 py-3 bg-primary-400">
    <div>
      <h5 class="modal-title text-white">Modification</h5>
    </div>
    <button class="close text-white" type="button" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body p-4">
    <div class="alert alert-{{notice.classes}}" *ngIf="notice">
      <strong>{{notice.classes === 'warning' ? "Avertissement" : "Attention"}}</strong>
      <br>{{notice.msg}} 
    </div>
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group mb-4">
            <label>Fournisseur</label>
            <ng-select name="supplier" placeholder="Selectionner un fournisseur" formControlName="user_id"
              bindLabel="name" bindValue="id" [multiple]="false" [items]="Suppliers" required>
              <ng-template ng-option-tmp let-item="item">
                  {{item.name}} (<b>F{{item.id}}</b>)
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <div class="form-group mb-4">
              <label>Catégorie</label>
              <ng-select name="categorie" placeholder="Tapez une categorie" formControlName="product_cat"
                bindValue="id" bindLabel="name"  [multiple]="false" [items]="Categories" required>
                <ng-template ng-option-tmp let-item="item">
                    {{item.name}}
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
      <div class="row">
          <div class="col-md-12">
            <div class="form-group mb-4">
              <label>Réference du produit</label>
              <ng-select name="product" placeholder="Tapez un produit" formControlName="product_id" (change)="onSelectProduct($event)"
              bindValue="id" bindLabel="title.rendered" [searchable]="true"  [multiple]="false" [items]="Products" required>
                <ng-template ng-option-tmp let-item="item">
                    {{item.title.rendered}} 
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group mb-4">
            <label>Titre</label>
            <input class="form-control" formControlName="title" type="text" id="title" name="title"
              placeholder="Ajouter un titre">
            <div *ngIf="f.title.errors && f.title.dirty">
              <label id="name-error" class="help-block error" for="name">Ce champ est obligatoire.</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group mb-4">
            <label>Prix (MGA)</label>
            <input class="form-control" formControlName="price" type="text" id="price" name="price"
              placeholder="Ajouter un prix">
            <div *ngIf="f.price.errors && f.price.dirty">
              <label id="name-error" class="help-block error" for="name">Ce champ est obligatoire.</label>
            </div>
          </div>
        </div>
        <div class="col-md-8">
            <div class="form-group mb-4">
              <label>Stock</label>
              <input class="form-control" formControlName="stock" type="text" id="stock" name="stock"
                placeholder="Ajouter la quantité disponible">
              <div *ngIf="f.stock.errors && f.stock.dirty">
                <label id="name-error" class="help-block error" for="name">Ce champ est obligatoire.</label>
              </div>
            </div>
          </div>
      </div>
      <div class="text-muted font-11">
          Sed tristique lacinia enim, sit amet consequat ante suscipit at. Quisque a eros vitae elit molestie tristique.
      </div>

    </div>
  </div>
  <div class="modal-footer justify-content-between bg-primary-50">
  
      <div>
          <button class="btn btn-primary btn-rounded mr-3" [disabled]="loading" type="submit">Mettre à jour</button>
      </div>
      <a class="text-danger" (click)="onRemoveArticle(ID)"><i class="la la-trash font-20"></i></a>
  </div>
</form>
