<style>
.change-approximate-time, .change-status {
  cursor: pointer
}
</style>
<div class="ibox">
  <div class="ibox-head">
    <div class="ibox-title">LES DEMANDES DE SERVICES</div>
  </div>
  <div class="ibox-body">
    <div class="">
        <table class="table table-hover" id="sav-table">
            <thead class="thead-default thead-lg">
                <tr>
                    <th class="pl-4">ID</th>
                    <th>Client</th>
                    <th>Reference</th>
                    <th>Produit</th>
                    <th>Marque</th>
                    <th>Delais Approximatif</th>
                    <th>Statut</th>
                    <th class="pr-4" style="width:91px;">Action</th>
                </tr>
            </thead>
        </table>
    </div>
  </div>
</div>
