<div class="page-content fade-in-up">
  <div class="ibox">
    <div class="ibox-body">
      <h5 class="font-strong mb-4">LES PETITES ANNONCES</h5>
      <div class="flexbox mb-4">
        <div class="flexbox">
        </div>
        <div class="flexbox">
          <!-- header -->
        </div>

      </div>
      <div class="table-responsive row">
        <table class="table table-bordered table-hover" id="good_deal">
          <thead class="thead-default thead-lg">
            <tr>
              <th>Service proposé</th>
              <th>Statut</th>
              <th>Actions</th>
            </tr>
          </thead>
        </table>
      </div>

    </div>

  </div>
</div>