<div class="modal fade" id="quotation-switcher-modal">
  <div class="modal-dialog" role="document">
    <form class="modal-content" [formGroup]="Form" (ngSubmit)="onUpdate()">
      <div class="modal-header p-4">
        <h5 class="modal-title">Modification de l'état du devis</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <div class="row">
          <div class="col-12">
            <div class="alert alert-warning alert-dismissable fade show alert-outline has-icon" *ngIf="warning">
              <i class="la la-info-circle alert-icon"></i>
              <strong>Avertissement</strong><br>Veuillez modifier son état avant d'enregistrer.
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <select class="form-control" name="type" formControlName="status">
                  <option value="0">En attente</option>
                  <option value="2">Rejetés</option>
                  <option value="1">Envoyer</option>
                  <option value="3">Envoyer</option>
                </select>
                <!-- <span class="help-block mt-2">This is some placeholder block-level help text for the above input.</span> -->
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer justify-content-between bg-primary-50">
        <div>
          <button class="btn btn-primary mr-3" type="submit" [disabled]="loading">
            <span>Enregistrer</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
