<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-lg-12">
      <app-filter-search-article (findword)="onSearchWord($event)"></app-filter-search-article>
      <app-filter-article [word]="findWord" (search)="onSubmit($event)"></app-filter-article>
      <div class="mb-3">
        <span>
          <button class="btn btn-sm btn-primary" data-toggle="modal" id="add-article">Ajouter
            un article</button>
          <button class="btn btn-sm btn-warning" data-toggle="modal" id="import-article">+ Importer des
            articles (Non recommandé)</button>
        </span>
      </div>
      <div class="ibox">
        <div class="ibox-body" *ngIf="Products">
          <div class="mb-4">
            <h3 class="mt-1">{{Paging._total ? Paging._total : '0'}} article(s) trouvé
              <span *ngIf="findWord"> pour: <span class="text-primary">“{{findWord}}”</span></span>
            </h3>
          </div>
          <div *ngIf="Products.length > 0">
            <table class="table">
              <thead style="background-color: lavender;">
                <tr>
                  <th>Image</th>
                  <th>Designation</th>
                  <th>Statut</th>
                  <th>Prix de vente</th>
                  <th>Prix Part.</th>
                  <th>%UF</th>
                  <th>Prix UF</th>
                  <th>%R</th>
                  <th>Prix Rev.</th>
                  <th>F.</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let article of Products">
                  <td>
                    <img class="update-thumbnail" [attr.data-product]="article.product_id"
                      [attr.data-article]="article.id" [src]="article.product_thumbnail.src" alt="image" width="60">
                  </td>
                  <td>
                    <a class="text-blue" (click)="onEditArticle(article.id)">{{article.title.rendered}}</a>
                  </td>
                  <td><span class="badge" [ngClass]="{'badge-blue': article.status === 'publish',
                            'badge-pink': article.status === 'draft',
                            'badge-warning': article.status === 'pending'}" (click)="onChangeStatus(article)"
                      style="cursor: pointer">
                      {{article.status === 'publish' ? 'PUBLIER' : (article.status === 'pending' ? 'EN ATTENTE' : 'DESACTIVER')}}</span>
                  </td>
                  <td *ngIf="isNumber(article.price)">
                    <span data-toggle="tooltip" data-placement="top"
                      title="{{article.price * 5 | currency:'FMG':'symbole':'4.0-2':'fr'}}">
                      {{article.price | currency:'MGA':'symbole':'4.0-2':'fr'}}
                    </span>
                  </td>
                  <td *ngIf="!isNumber(article.price)"><span class="badge badge-default">{{article.price}}</span></td>
                  <td *ngIf="isNumber(article.price_particular)">
                    {{article.price_particular | benefit | currency:'MGA':'symbole':'4.0-2':'fr'}}
                  </td>
                  <td *ngIf="!isNumber(article.price_particular)"><span
                      class="badge badge-default">{{article.price_particular}}</span>
                  </td>
                  <td>{{article.marge}}</td>
                  <td>{{article.priceUF | benefit | currency:'MGA':'symbole':'4.0-2':'fr'}}</td>
                  <td>{{article.marge_dealer}}</td>
                  <td>{{article.price_dealer | benefit | currency:'MGA':'symbole':'4.0-2':'fr'}}</td>
                  <td><a target="_blank" [routerLink]="['/supplier', article.supplier.ID, 'edit']"
                      routerLinkActive="active" class="badge badge-info">
                      {{article.supplier.reference}}
                    </a>
                  </td>
                  <td>
                    <a class="text-blue font-16" data-toggle="tooltip" data-placement="top" title="Modifier"
                      (click)="onChangeRoute('/articles/edit/' + article.product_id)">
                      <i class="ti-pencil-alt"></i></a>
                    <a class="font-16 text-danger" data-toggle="tooltip" data-placement="top" title="Supprimer"
                      appArticleRemover [articleId]="article.id" (onRefresh)="onRefreshResults()"><i
                        class="ti-trash"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <div class="inner-left preview" id="demo">
        <div class="paginationjs">
        </div>
      </div>

      <!-- Ajouter une article -->
      <div class="modal fade" id="add-article-supplier-modal" data-backdrop="static">
        <div class="modal-dialog" role="document">
          <app-add-article (refresh)="onRefreshResults()"></app-add-article>
        </div>
      </div>

      <!-- Modifier une article -->
      <div class="modal fade" id="edit-article-supplier-modal" data-backdrop="static">
        <div class="modal-dialog" role="document">
          <app-edit-article [article]="Editor" (refresh)="onRefreshResults()"></app-edit-article>
        </div>
      </div>

      <!-- Importer des articles via un fichier CSV -->
      <div class="modal fade" id="import-article-modal" data-backdrop="static">
        <div class="modal-dialog" role="document">
          <app-import-article (refresh)="onRefreshResults()"></app-import-article>
        </div>
      </div>

      <div class="modal fade" id="status-product-modal" data-backdrop="static">
        <div class="modal-dialog" role="document">
          <app-status-article [article]="articleEdit" (refresh)="onRefreshResults()"></app-status-article>
        </div>
      </div>

      <!-- Ajouter ou remplacer les image à la une des produits -->
      <div class="modal fade" id="update-thumbnail-modal" data-backdrop="static">
        <div class="modal-dialog" role="document">
          <form class="modal-content" [formGroup]="thumbForm" (ngSubmit)="onSubmitThumbnail()">
            <div class="modal-header px-4 py-3 bg-primary-400">
              <div>
                <h5 class="modal-title text-white">Ajouter/Remplacer une image en avant</h5>
              </div>
              <button class="close text-white" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body p-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group mb-4">
                    <p class="font-strong">Joindre une image</p>
                    <input type="file" formControlName="image" id="upload-media" />
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer justify-content-between bg-primary-50">
              <div>
                <button class="btn btn-primary btn-rounded mr-3" type="submit">Enregistrer</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
