<div class="modal-header px-4 py-3 bg-primary-400">
  <div>
    <h5 class="modal-title text-white">Devis</h5>
  </div>
  <button class="close text-white" type="button" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body p-4">
    <div class="">
        <div class="ibox-body">
            <div class="row mb-5 pb-3">
                <div class="col-6">
                    <h5 class="font-strong mb-3">FACTURE DE</h5>
                    <h5 class="font-strong text-success mb-3">Freezone</h5>
                </div>
                <div class="col-6 text-right">
                    <h5 class="font-strong mb-3">FACTURE À</h5>
                    <h5 class="font-strong text-success mb-3">{{billingAdress.first_name}} {{billingAdress.last_name}}</h5>
                    <div class="text-light">{{billingAdress.address_1}}, {{billingAdress.postcode}} {{billingAdress.city}}.</div>
                    <div class="text-light">{{billingAdress.email}}</div>
                    <div class="text-light">{{billingAdress.phone}}</div>
                </div>
            </div>
            <div class="ibox-fullwidth-block">
                <table class="table mb-4" *ngIf="!loading">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th class="pl-4">Désignation</th>
                            <th>Quantité</th>
                            <th>Unit HT</th>
                            <th class="text-right pr-4">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of QtItems">
                            <td class="pl-4">
                                <div><strong>{{item.name}}</strong></div>
                            </td>
                            <td class="text-center">{{item.quantity}}</td>
                            <td>{{item.price | currency:'MGA':'symbole':'4.2-2':'fr'}}</td>
                            <td class="text-right pr-4">{{item.total | currency:'MGA':'symbole':'4.2-2':'fr'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="d-flex justify-content-end" *ngIf="Billing">
                <div class="text-right" style="width:450px;">
                    <div class="row mb-2">
                        <div class="col-6">Sous-total HT:</div>
                        <div class="col-6">{{Billing.subtotal | currency:'MGA':'symbole':'4.2-2':'fr'}}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">Taxe:</div>
                        <div class="col-6" style="font-weight: bold">{{Tax}} %</div>
                    </div>
                    <div class="row font-strong font-20 align-items-center">
                        <div class="col-6">Total TTC:</div>
                        <div class="col-6">
                            <div class="h3 font-strong mb-0">{{Billing.total_tax | currency:'MGA':'symbole':'4.2-2':'fr'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer justify-content-between bg-primary-50">
  <div>
    <button class="btn btn-primary btn-rounded mr-3" [disabled]="loading" (click)="onSendMail()">Envoyer par email</button>
  </div>
</div>
