<button class="btn btn-sm btn-pink" (click)="onAddQuote($event)" id="import-article">+ Ajouter une demande</button>

<div class="modal fade" id="quote-select-client-dialog" data-backdrop="static" aria-labelledby="question-dialog" tabindex="-1"
  role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header pr-2 p-0">
        <div></div>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <div class="row" *ngIf="step === 1">
          <div class="col-sm-8">
            <h5 class="modal-title mb-4">Selectionner le client
              <small class="d-block">Si le client est deja inscrit dans le site</small>
            </h5>
            <div class="form-group mb-4">
              <ng-select placeholder="Selectionner un client" name="users" bindLabel="email" bindValue="email"
                [hideSelected]="true" (change)="onSelectClient($event)" [loading]="loadingUser" [typeahead]="typeaheadUsers" [multiple]="false"
                [items]="Users">
                <ng-template ng-option-tmp let-item="item">
                  {{item.company_name ? item.company_name + ' - ' : '' }}
                  {{item.first_name}} {{item.last_name}} <i>({{item.email}})</i>
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-sm-4 d-flex">
            <div class="m-auto">
              <button class="btn btn-lg btn-success" (click)="step = 0">Ajouter un client</button>
            </div>
            
          </div>
        </div>

        <div *ngIf="step === 0">
          <h5 class="modal-title mb-4">Cree un compte</h5>
          <form [formGroup]="formAddUser" (ngSubmit)="submitNewUser($event)">
            <div class="form-group mb-4">
              <div>
                <label class="radio radio-inline radio-info">
                  <input type="radio" formControlName="role" [value]="'fz-company'" checked="">
                  <span class="input-span"></span>Entreprise</label>

                <label class="radio radio-inline radio-info">
                  <input type="radio" formControlName="role" [value]="'fz-particular'">
                  <span class="input-span"></span>Particulier</label>
              </div>
            </div>
            <div class="row" *ngIf="formAddUser.get('role').value == 'fz-company'">
              <div class="col-sm-12 form-group mb-4">
                <label>
                  Nom de l'entreprise/societe</label>
                <input class="form-control" type="text" formControlName="company_name" />
              </div>
              <div class="col-sm-6 form-group mb-4">
                <label>Status</label>
                <select formControlName="company_status" class="form-control">
                  <option value="">Selectionner un status</option>
                  <option value="dealer">Revendeur</option>
                  <option value="professional">Professionnel</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 form-group mb-4">
                <label>Nom</label>
                <input class="form-control" type="text" formControlName="last_name">
              </div>
              <div class="col-sm-6 form-group mb-4">
                <label>Prenom</label>
                <input class="form-control" type="text" formControlName="first_name" />
              </div>

            </div>

            <div class="form-group mb-4">
              <label>Email</label>
              <input class="form-control" type="text" formControlName="email">
            </div>

            <div class="ibox-footer">
              <button class="btn btn-info mr-2" type="submit">Enregistrer</button>
              <button class="btn btn-secondary" type="reset" (click)="step = 1">Annuler l'inscription</button>
            </div>
          </form>

        </div>

        <div *ngIf="step === 2">
          <h5 class="modal-title mb-4">Ajouter une demande
            <small class="d-block">pour {{clientSelected.email}}</small>
          </h5>
          <form [formGroup]="formAddQuote" (ngSubmit)="submitNewQuote($event)">
            <div formArrayName="line_items">
              <ul class="p-0">
                <li style="list-style: none;">
                  <div class="row mb-2">
                    <div class="col-sm-8">Designation</div>
                    <div class="col-sm-2">Quantité</div>
                    <div class="col-sm-2"></div>
                  </div>
                </li>
                <li *ngFor="let item of formAddQuote.controls.line_items.controls; let i = index" style="list-style: none;">
                  <div class="row" [formGroupName]="i">
                    <div class="col-sm-8 form-group mb-2">

                      <ng-select placeholder="Selectionner un produit" name="users" bindLabel="name" bindValue="id" formControlName="product_id"
                        [hideSelected]="true" (change)="resetProductList()" [loading]="loadingProduct" [typeahead]="typeaheadProducts"
                        [multiple]="false" [items]="Products">
                        <ng-template ng-option-tmp let-item="item">
                         <b>{{item.sku}}</b> {{item.name}}
                        </ng-template>
                      </ng-select>

                    </div>
                    <div class="col-sm-2 form-group mb-2">
                      <input class="form-control" placeholder="qty" type="number" min="0" formControlName="quantity">
                    </div>
                    <div class="col-sm-2 form-group mb-2">
                      <a class="font-16 text-danger" (click)="onRemoveLine(i)">
                        <i class="ti-trash"></i>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
              <button type="button" class="btn btn-sm btn-success" (click)="onAddSpecialRequest()">
                Ajouter
              </button>
            </div>


            <div class="ibox-footer">
              <button class="btn btn-primary mr-2" type="submit">Cree une demande</button>
              <button class="btn btn-secondary" type="reset" (click)="step = 1">Retour</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>
