<!-- Afficher une boite de dialogue pour le mail -->
<div class="modal fade" id="quotation-mail-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form [formGroup]="Form">
        <div class="modal-header px-4 py-3 bg-primary-400" *ngIf="Order">
          <div>
            <h5 class="modal-title text-white">ENVOYER PAR E-MAIL
            </h5>
            <small class="text-white">à {{Order.billing.email}}</small>
            
          </div>
          <button class="close text-white" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="">
            <div class="ibox-body">
              <div class="flexbox mb-4">
                <span class="btn-icon-only btn-circle bg-primary-50 text-primary mr-3"><i class="ti-envelope"></i></span>
                <div class="flex-1 d-flex">
                  <div class="flex-1">
                    <span class="text-muted mr-2">De:</span>
                    <div>no-reply@freezone.com</div>
                  </div>
                </div>
              </div>
      
              <div class="form-group mb-4">
                <label>Sujet</label>
                <input class="form-control" formControlName="subject" type="text" placeholder="Base input">
              </div>
      
              <div class="form-group mb-4">
                  <label class="font-light">Message</label>
                  <editor apiKey="2grxn9iofnxolcaedqa399sh4ft6c1mg3e1kumgnyq6o0ap1" formControlName="content"
                      name="projet" [init]="tinyMCESettings"></editor>
                </div>
      
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between bg-primary-50">
          <div></div>
          <div>
              <button class="btn btn-success mr-3" (click)="onSend()">Envoyer</button>
              <button class="btn btn-secondary mr-3" data-dismiss="modal">Annuler</button>
          </div>
            
        </div>
      </form>
    </div>
  </div>
</div>