<div class="">
  <div class="search-quotation">
<app-filter-search-article (findword)="onSearchWord($event)" [placeh]="'Vous cherchez un demande specifique?'">
</app-filter-search-article>

<div>
  <ul class="media-list media-list-divider" *ngIf="queryResults.length > 0">

    <li class="media" *ngFor="let quotation of queryResults">
      <a class="media-img" [routerLink]="['/dashboard', 'quotation', quotation.id]" routerLinkActive="router-link-active">
        <button class="btn btn-secondary btn-icon-only btn-circle">
          <i class="la la-cart-arrow-down"></i>
        </button>
      </a>
      <div class="media-body d-flex">
        <div class="flex-1">
          <div class="media-heading">
            {{quotation.customer_data.company_name !== "" ? quotation.customer_data.company_name : quotation.customer_data.last_name + " " + quotation.customer_data.company_name}}
            </div>
          <p class="font-13 m-0 text-light">{{quotation.date_created}}</p>
        </div>
        <div class="text-right ml-2">
          <h4 class="mb-1 font-strong">#{{quotation.id}}</h4>
          <div class="text-muted">{{quotation.client_role === 'fz-company' ? 'Professionnel' : 'Particulier'}}</div>
        </div>
      </div>
    </li>
    
  </ul>
</div>
  </div>
  

  <app-status-quotation-switcher [quotation]="qtSelected"></app-status-quotation-switcher>
  <div class="ibox-head flex-row-reverse">
    <div class="ibox-title">LES DEMANDES</div>
    <ul class="nav nav-pills nav-pills-rounded nav-pills-air">
      <li class="nav-item">
        <a class="nav-link active" href="#tab-2-1" data-toggle="tab" aria-expanded="true">Professionnel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tab-2-2" data-toggle="tab" aria-expanded="false">Particulier</a>
      </li>
    </ul>
  </div>
  <div class="">
    <div class="tab-content">
      <div class="tab-pane fade active show" id="tab-2-1" aria-expanded="true">
        <div class="p-4">
          <div class="ibox-head">
            <div class="ibox-title uppercase">Demandes non traitées</div>
          </div>
          <app-quotation-custom (selectQt)="setQtSelected($event)" [refresh]="refreshQuotatuon" [Position]="0"
            [Balise]="'pro_pending'" [Role]="'fz-company'">
          </app-quotation-custom>
        </div>

        <div class="p-4">
          <div class="ibox-head">
            <div class="ibox-title uppercase">Demandes traitées</div>
          </div>
          <app-quotation-custom (selectQt)="setQtSelected($event)" [refresh]="refreshQuotatuon" [Position]="1"
            [Balise]="'pro_treaty'" [Role]="'fz-company'">
          </app-quotation-custom>
        </div>

        <div class="p-4">
          <div class="ibox-head">
            <div class="ibox-title uppercase">Le résultat de la consultation</div>
          </div>
          <app-quotation-custom (selectQt)="setQtSelected($event)" [refresh]="refreshQuotatuon" [Position]="[4, 3, 2]"
            [Balise]="'pro_terminate'" [Role]="'fz-company'">
          </app-quotation-custom>
        </div>
      </div>

      <div class="tab-pane fade" id="tab-2-2" aria-expanded="false">
        <div class="p-4">
          <div class="ibox-head">
            <div class="ibox-title uppercase">Demandes non traitées</div>
          </div>
          <app-quotation-custom (selectQt)="setQtSelected($event)" [refresh]="refreshQuotatuon" [Position]="0"
            [Balise]="'pa_pending'" [Role]="'fz-particular'">
          </app-quotation-custom>
        </div>

        <div class="p-4">
          <div class="ibox-head">
            <div class="ibox-title uppercase">Demandes traitées</div>
          </div>
          <app-quotation-custom (selectQt)="setQtSelected($event)" [refresh]="refreshQuotatuon" [Position]="1"
            [Balise]="'pa_treaty'" [Role]="'fz-particular'">
          </app-quotation-custom>
        </div>

        <div class="p-4">
          <div class="ibox-head">
            <div class="ibox-title uppercase">Le résultat de la consultation</div>
          </div>
          <app-quotation-custom (selectQt)="setQtSelected($event)" [refresh]="refreshQuotatuon" [Position]="[4, 3, 2]"
            [Balise]="'pa_terminate'" [Role]="'fz-particular'">
          </app-quotation-custom>
        </div>
      </div>
    </div>
  </div>
