<div class="ibox-head">
    <div class="ibox-title">LES DEMANDES</div>
</div>
<div class="ibox-body">
    <div class="row mb-3">
        <div class="col-sm-4">
            <select class="form-control" name="qtFilterPosition" id="qtFilterPosition" (change)="onChangePosition($event)">
                <option value="">Choississez un statut</option>
                <option value="0">En attente</option>
                <option value="2">Rejetés</option>
                <option value="3">Terminée</option>
            </select>
        </div>
    </div>
    <app-status-quotation-switcher [quotation]="qtSelected"></app-status-quotation-switcher>
    <div class="">
        <table class="table table-hover" id="quotation-table">
            <thead class="thead-default thead-lg">
                <tr>
                    <th class="pl-4">ID</th>
                    <th>Client</th>
                    <th>Statut</th>
                    <th>Date</th>
                    <th class="pr-4" style="width:91px;">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="ibox-head">
    <div class="ibox-title uppercase">Les demandes Traité</div>
</div>
<div class="ibox-body">
    <app-quotation-treaty (Treaty)="setQtSelected($event)"></app-quotation-treaty>
</div>