<div class="ibox-head">
    <div class="ibox-title">LES COMMANDES</div>
</div>
<div class="ibox-body">
    <div class="">
        <table class="table table-hover" id="quotation-table">
            <thead class="thead-default thead-lg">
                <tr>
                    <th class="pl-4">ID</th>
                    <th>Client</th>
                    <th>Statut</th>
                    <th>Date</th>
                    <th class="pr-4" style="width:91px;">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>