  <form [formGroup]="Form" (ngSubmit)="onSave()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group mb-4">
          <label class="font-light">Commercial responsable</label>
          <ng-select name="commercial" placeholder="Ajouter un commercial" formControlName="commercial" [loading]='loading'
            bindLabel="email" bindValue="id" [hideSelected]="false" [multiple]="false" [items]="Commercials">
            <ng-template ng-option-tmp let-item="item">
              {{item.email}}
            </ng-template>
          </ng-select>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </form>
