<div class="mb-4">
  <div class="row">
      <div class="col-6" *ngIf="Client">
          <h5 class="font-strong text-success">{{Client.first_name}} {{Client.last_name}} </h5>
          <div class="mb-3"><span class="badge" 
            [ngClass]="{'badge-pink': roleOffice === 0, 'badge-blue': roleOffice !== 0}">{{role}}</span></div>
          <div class="text-light">{{Client.email}} </div>
          <div class="text-light">{{meta.phone}}</div>
          <div class="text-light"> {{Client.date_created}} </div>
      </div>
      <div class="col-6" *ngIf="Client">
        <div class="row mb-2">
            <div class="col-6 text-muted">STAT:</div>
            <div class="col-6">{{meta.stat}}</div>
        </div>
        <div class="row mb-2">
            <div class="col-6 text-muted">NIF:</div>
            <div class="col-6">{{meta.nif}}</div>
        </div>
        <div class="row mb-2">
            <div class="col-6 text-muted">RC:</div>
            <div class="col-6">{{meta.rc}}</div>
        </div>
        <div class="row mb-2">
            <div class="col-6 text-muted">CIF:</div>
            <div class="col-6">{{meta.cif}}</div>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
      <div class="ibox-body" *ngIf="hasAddress">
          <h5 class="font-strong mb-4">Addresse de facturation</h5>
          <div class="row mb-2">
              <div class="col-6 text-muted">Prénom:</div>
              <div class="col-6">{{Client.billing.first_name}}</div>
          </div>
          <div class="row mb-2">
              <div class="col-6 text-muted">Nom:</div>
              <div class="col-6">{{Client.billing.last_name}}</div>
          </div>
          <div class="row mb-2">
              <div class="col-6 text-muted">Société:</div>
              <div class="col-6">{{Client.billing.company}}</div>
          </div>
          <div class="row mb-2">
              <div class="col-6 text-muted">Ville:</div>
              <div class="col-6">{{Client.billing.postcode}} {{Client.billing.city}}, {{Client.billing.country}}</div>
          </div>
          <div class="row mb-2">
              <div class="col-6 text-muted">Adresse:</div>
              <div class="col-6">{{Client.billing.address_1}}</div>
          </div>
          <div class="row mb-2">
              <div class="col-6 text-muted">Numéro de téléphone:</div>
              <div class="col-6">{{Client.billing.phone}}</div>
          </div>
          <div class="row mb-2">
              <div class="col-6 text-muted">Email:</div>
              <div class="col-6">{{Client.billing.email}}</div>
          </div>
      </div>
  </div>

  <div class="col-6">
      <div class="ibox-body" *ngIf="hasAddress">
          <h5 class="font-strong mb-4">Adresse de livraison</h5>
          <div class="row mb-2">
              <div class="col-6 text-muted">Prénom:</div>
              <div class="col-6">{{Client.shipping.first_name}}</div>
          </div>
          <div class="row mb-2">
              <div class="col-6 text-muted">Nom:</div>
              <div class="col-6">{{Client.shipping.last_name}}</div>
          </div>
          <div class="row mb-2">
              <div class="col-6 text-muted">Scoiété:</div>
              <div class="col-6">{{Client.shipping.company}}</div>
          </div>
          <div class="row mb-2">
              <div class="col-6 text-muted">Ville:</div>
              <div class="col-6">{{Client.shipping.postcode}} {{Client.shipping.city}}, {{Client.shipping.country}}</div>
          </div>
          <div class="row mb-2">
              <div class="col-6 text-muted">Adresse:</div>
              <div class="col-6">{{Client.shipping.address_1}}</div>
          </div>
      </div>
  </div>
</div>